<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/bochandana/IdeaProjects/AE">
        <classes>
        <class name="Tests.AllocationPageTest">
            <methods>
            <include name="TC07_VerifyStatusOfPod"/>
            <include name="TC08_VerifyStatusOfPodAfterNominate"/>
            <include name="TC09_VerifyAddingHaSher"/>
            <include name="TC10_VerifyFilterOption"/>
            <include name="TC21_verifyStatusAfterSaveConfiguration"/>
        </methods>
        </class>
    </classes>
    </test>
</suite>